# Node.js
# node_modules

# Client specific node_modules
# client/node_modules

# Server specific node_modules
# server/node_modules

# Other common ignores (optional, but good practice)
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*